* body{
   text-align: center;
   margin-top: 140px;
}

#logo{
    text-decoration: underline;
    font-size: 70px;
    font-weight: bolder;
    text-shadow: 5px 5px 4px grey;
    color: #023047;
}
div h1 {
    display: inline-block;
    color: white;
    background-color: #457b9d; 
    width: 150px;
    font-size: 100px; 
    border-radius: 15px;
}

button{
  width: 100px;
  color: white;
  font-weight: bolder;
  height: 50px;
  margin-top: 40px;
  font-size: x-large;
  border: none;
 border-radius: 5px;
}
#start{
    background-color: #023047;
}
#stop{
    background-color: #588157;
}
#res{
    background-color: #e76f51;
}
